.filterSection {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.2rem;
}

.searchBar {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.searchBar input[type="search"] {
  border: 1.6px solid var(--secondary-color);
  padding: 0.52rem 1.2rem;
  border-radius: 0.6rem;
  font-size: 1.12rem;
  color: var(--text-color);
  background: var(--card-bg-color);
  transition: border-color 0.2s;
}
.searchBar input[type="search"]:focus {
  border-color: var(--electric-blue);
}

.filterButtons {
  display: flex;
  gap: 0.6rem;
}

.filterButton {
  background: var(--accent-color);
  color: var(--text-color);
  border-radius: 0.6rem;
  padding: 0.45rem 1.1rem;
  font-size: 1.07rem;
  font-weight: 600;
  border: 1.3px solid var(--border-color);
  cursor: pointer;
  transition: background 0.15s, color 0.17s;
}

.filterButton:hover {
  background: var(--secondary-color);
  color: #fff;
}

.activeCategory {
  background: var(--primary-color);
  color: #fff;
  border: 1.5px solid var(--primary-color);
}


@media (max-width: 600px) {
  .filterSection {
    flex-direction: column;
  }
  
  .searchBar {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    text-align: center;
  }

  .filterButtons {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 1370px) {
  .filterSection {
    flex-direction: column;
  }
  
  .searchBar {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    text-align: center;
  }

  .filterButtons {
    flex-wrap: wrap;
    justify-content: center;
  }
}